.mapContainer {
    position: relative;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    padding-top: 20px;
    background: linear-gradient(
    90deg,
    rgb(26, 23, 23) 0%,
    rgb(28, 27, 27) 100%
    );
}

.controlModalWrap {
    margin-top: 195px;
    padding: 20px 0;
    background-color: rgba(86, 86, 86, 0.5);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.searchModal {
    position: absolute;
    bottom: 1%;
    left: 5%;
}

.closeButtonMobile {
    border: none;
    font-size: 25px;
    padding-right: 80px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}

.closeButtonMobileWrap {

    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: -30px !important;
    background-color: none;
}

.userPageTitle {
    font-size: 45px;
    color: #fff;
}

.loadingTitle {
    font-size: 45px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: -10px;
}

.lottieWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.lottieContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    align-self: flex-end;
    margin-bottom: -38px;
}


.mapContainer > h4 {
    color: #fff;
}

.search-bar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sb-inputs {
    margin: 5px;
    margin-top: 8px;
    padding: 6px;
    font-size: 16px;
    background-color: rgb(207, 207, 207);
    border-radius: 5px;
}

.hoodNameTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* .hoodNameTitle > h3 {
    color: #fff;
    margin: 6px 0 4px 0;
} */

.userHoodsH3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    margin: 6px 0 4px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* .hoodNameTitle > .userHoodsH3 {
    font-family: 'Josefin Sans', sans-serif;
} */
/* 
.hoodNameTitle-mid > h3 {
    color: #fff;
    margin: 6px 0 4px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */

.userMapText {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid rgb(65, 65, 65);
}

.userMapTextMobile {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgb(65, 65, 65);
    height: 100vh;
    overflow: scroll;
    margin-bottom: -45px;
}

.info-window {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-window > h3 {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 4px;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .userPageTitle {
        font-size: 32px;
    }

    .search-bar-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sb-inputs {
        margin: 3px;
    }

    .searchModal {
        z-index: 1;
        margin-bottom: 30px;
    }

    .controlModalWrap {
        margin-top: 177px;
        padding: 20px 0;
    }

}
