/* .graph-container {
    height: 90vh;
    width: 100%;
    padding-top: 30px;
    background: linear-gradient(
    90deg,
    rgb(26, 23, 23) 0%,
    rgb(28, 27, 27) 100%
    );
}

.graph-container > h1 {
    color: #fff;
    font-size: 45px;
}

.graph-container > h2 {
    font-size: 45px;
}

select {
    margin: 5px;
    padding: 6px;
    font-size: 16px;
    background-color: rgb(207, 207, 207);
    border-radius: 5px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.graph-text {
    height: 75vh;
    overflow: auto;
    margin-top: 10px;
    color: rgb(22, 33, 62);
    padding: 20px;
    border-top: 1px solid rgb(65, 65, 65);
}

@media screen and (max-width: 900px) {
    .graph-container > h1 {
        font-size: 44px;
    }
}

@media screen and (max-width: 768px) {
    .graph-container > h1 {
        font-size: 24px;
    }
} */
