.graph-container {
    height: 90vh;
    width: 100%;
    padding-top: 30px;
    background: linear-gradient(
    90deg,
    rgb(26, 23, 23) 0%,
    rgb(28, 27, 27) 100%
    );
}

.graph-container > h1 {
    color: #fff;
    font-size: 45px;
    /* text-shadow:
        10px 10px 4px rgba(90, 90, 90, 0.3),
        10px 10px 4px rgba(90, 90, 90, 0.3); */
    
}

.graph-container > h2 {
    font-size: 45px;
}

select {
    margin: 5px;
    padding: 6px;
    font-size: 16px;
    background-color: rgb(207, 207, 207);
    border-radius: 5px;
    /* box-shadow: 10px 10px 12px -1px rgba(90, 90, 90, 0.63); */
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.graph-text {
    height: 75vh;
    overflow: auto;
    margin-top: 10px;
    color: rgb(22, 33, 62);
    /* background-color: #fff; */
    /* border-radius: 10px;
    box-shadow: 10px 10px 12px -1px rgba(90, 90, 90, 0.63); */
    padding: 20px;
    border-top: 1px solid rgb(65, 65, 65);
    /* background: linear-gradient(
    180deg,
    rgb(31, 31, 31) 0%,
    rgb(48, 48, 48) 100%
    ); */
}

@media screen and (max-width: 900px) {
    .graph-container > h1 {
        font-size: 44px;
    }

    /* .graph-text {
        margin: 15px 70px;
    } */
}

@media screen and (max-width: 768px) {
    .graph-container > h1 {
        font-size: 24px;
    }

    /* .graph-text {
        margin: 15px 60px;
    } */
}

@media screen and (max-width: 460px) {
    /* .graph-text {
        margin: 15px 20px;
    } */
}