/* .how-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    padding-top: 30px;
    background: linear-gradient(
    90deg,
    rgb(26, 23, 23) 0%,
    rgb(28, 27, 27) 100%
    );
}

.how-container > h1 {
    color: #fff;
    font-size: 45px;
}

.how-text {
    max-width: 850px;
    overflow: auto;
    margin: 20px 150px;
    color: rgb(22, 33, 62);
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 30px 20px 40px;
    
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-bottom: 6px;
}

p {
    padding: 0 20px;
    margin-bottom: 6px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    color: black;
}

.todo-list {
    margin: 0 40px;
}

li {
    margin-bottom: 6px;
    font-family: 'Roboto', sans-serif;
    line-height: 16px;
    color: black;
}

a {
    color: black;
    text-decoration: none;
    transition: 0.3s ease-out;
}

a:hover {
    color: tomato;
    transition: 0.3s ease-out;
}

@media screen and (max-width: 768px) {
    .how-container > h1,
    .how-container > h2 {
        font-size: 34px;
    }

    .how-text {
        margin: 15px 20px;
        max-width: 90vw;
    }
} */