.map-container {
    /* height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    object-fit: contain;
    padding-top: 20px;
    background: linear-gradient(
    90deg,
    rgb(26, 23, 23) 0%,
    rgb(28, 27, 27) 100%
    ); */
    position: relative;
}

.control-panel-wrap {
    width:400px;
    /* display: flex;
    flex-direction: column;
    align-items: left; */
    position: absolute;
    left: 0;
    padding-left: 50px;
}

.loading-title {
    font-size: 45px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: -10px;
}

/* .lottie-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
} */

/* .lottie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    align-self: flex-end;
    margin-bottom: -38px;
} */

.cj-number-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .map-title {
    font-size: 45px;
    color: #fff;
} */

.search-results {
    margin: 0 0 5px 20px;
    font-size: 25px;
    color: #fff;
}

.search-params {
    font-size: 22px;
    color: #fff;
}

.carjack-numbers,
#cj-num-id {
    margin-left: 20px;
    color: tomato;
    font-size: 30px;
    animation: heart-pulse 0.9s infinite ease-out;
}

.crime-view {
    /* color: rgba(0, 255, 255, 0.371) !important; */
    /* border: 1px solid #fff !important; */
    height: 40px !important;
    -webkit-filter: invert(100%) !important;
    filter: invert(100%) !important;
    min-width: 170px;
    margin: 5px 10px !important;
}

.crime-view:checked {
    /* background-color: rgba(0, 255, 255, 0.371) !important; */
    border: 1px solid green !important;
    height: 40px !important;
}

@keyframes heart-pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1);
    }
}

/* .force-space {
    color: transparent;
} */

/* .search-bar-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.crime-toggle-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    /* width: 400px; */
}

#my-location {
    min-width: 150px;
}

.sb-inputs {
    /* margin: 5px; */
    /* margin-top: 8px; */
    /* padding: 6px; */
    /* font-size: 16px; */
    /* background-color: rgb(251, 158, 158) !important; */
    /* border-radius: 5px; */
    height: 40px !important;
    /* min-width: 200px !important; */
}

.map-text {
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -2px;
    /* color: rgb(22, 33, 62); */
    /* background-color: #fff; */
    /* border-top: 1px solid rgb(65, 65, 65); */
}

.user-map-text {
    /* margin-top: 20px; */
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
}

.info-window {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-window > h3 {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 4px;
    margin-top: 10px;
}

@media screen and (max-width: 1100px) {
    .map-title {
        font-size: 41px;
    }
    .map-container > h2,
    .search-params {
        font-size: 28px;
        margin-bottom: 5px;
    }

    .force-space {
        font-size: 14px;
    }

    #cj-num-id {
        font-size: 36px;
    }
}

@media screen and (max-width: 768px) {
    .map-title {
        font-size: 32px;
    }

    .map-container > h2,
    .search-params {
        font-size: 22px;
        margin-bottom: 5px;
    }

    .force-space {
        font-size: 14px;
    }

    #cj-num-id {
        font-size: 32px;
    }

    .search-bar-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sb-inputs {
        margin: 3px;
    }

    .map-text {
        margin-top: 10px;
    }

}

@media screen and (max-width: 550px) {
    .map-container {
        max-width: 100vw;
    }

    .map-title {
        font-size: 20px;
    }

    #cj-num-id {
        font-size: 22px;
    }

    .search-params {
        font-size: 14px;
    }

    .force-space {
        font-size: 4px;
    }

}