.map-container {
    /* border-top: 2px solid gray; */
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    padding-top: 20px;
    background: linear-gradient(
    90deg,
    rgb(26, 23, 23) 0%,
    rgb(28, 27, 27) 100%
    );
}

.cj-number-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.map-container > h1 {
    font-size: 45px;
    color: #fff;
}

.search-params {
    font-size: 40px;
    color: #fff;
}

.carjack-numbers,
#cj-num-id {
    color: tomato;
    font-size: 45px;
    animation: heart-pulse 0.9s infinite ease-out;
}

@keyframes heart-pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1);
    }
}

.force-space {
    color: transparent;
}

.search-bar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sb-inputs {
    margin: 5px;
    margin-top: 8px;
    padding: 6px;
    font-size: 16px;
    background-color: rgb(207, 207, 207);
    border-radius: 5px;
}

.map-text {
    overflow: auto;
    margin-top: 10px;
    color: rgb(22, 33, 62);
    background-color: #fff;
    border-top: 1px solid rgb(65, 65, 65);
}

.info-window {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-window > h3 {
    margin-top: 10px;
}

@media screen and (max-width: 1100px) {
    .map-container > h1 {
        font-size: 41px;
    }
    .map-container > h2,
    .search-params {
        font-size: 28px;
        margin-bottom: 5px;
    }

    .force-space {
        font-size: 14px;
    }

    #cj-num-id {
        font-size: 36px;
    }
}

@media screen and (max-width: 768px) {
    .map-container > h1 {
        font-size: 32px;
    }

    .map-container > h2,
    .search-params {
        font-size: 22px;
        margin-bottom: 5px;
    }

    .force-space {
        font-size: 14px;
    }

    #cj-num-id {
        font-size: 32px;
    }

    .search-bar-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sb-inputs {
        margin: 3px;
    }

    .map-text {
        margin-top: 10px;
    }

}

@media screen and (max-width: 550px) {
    .map-container > h1 {
        font-size: 20px;
    }

    #cj-num-id {
        font-size: 22px;
    }

    .search-params {
        font-size: 14px;
    }

    .force-space {
        font-size: 4px;
    }

}