video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

img {
    margin-top: -75px;
    /* object-fit: none; */
    width: 100%;
    height: 100%;
    /* position: fixed; */
    position: absolute;
    z-index: -1;
}

.hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
}

.hero-logo {
    color: #fff;
    font-family: 'Racing Sans One', cursive;
    font-size: 120px;
    margin-top: 240px;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

.hero-logo:hover {
    color: tomato;
    font-size: 122px;
    transition: all 0.2s ease-in;
}

.hero-container > h2 {
    color: #fff;
    font-size: 32px;
    transition: all 0.2s ease-in;
}

.slogan {
    margin: 8px 0;
    color: #fff;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
}

.hero-btns {
    margin-top: 14px;
}

.hero-btns .btn {
    margin: 6px;
}

.hero-logo {
    animation: transitionIn 2s;
}

.hero-container > h2 {
    animation: transitionIn 3s;
}

.slogan {
    animation: transitionIn 4s;
}

.hero-container > .hero-btns {
    animation: transitionIn 5s;
}


@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }

}

@media screen and (max-width: 960px) {
    .hero-logo {
        font-size: 90px;
        transition: all 0.2s ease-in;
    }

    .hero-logo:hover {
        font-size: 92px;
        transition: all 0.2s ease-in;
    }
    
    .hero-container > h2 {
        font-size: 24px;
        transition: all 0.2s ease-in;
    }
    
}

@media screen and (max-width: 768px) {
    .hero-logo {
        font-size: 70px;
    }

    .hero-logo:hover {
        font-size: 72px;
        transition: all 0.2s ease-in;
    }
    
    .hero-container > h2 {
        font-size: 19px;
    }
    
}

@media screen and (max-width: 500px) {
    .hero-logo {
        font-size: 50px;
        margin-top: 120px;
    }

    .hero-logo:hover {
        font-size: 52px;
        transition: all 0.2s ease-in;
    }

    .hero-container > h2 {
        font-size: 13px;
    }
    
    .hero-btns .btn {
        margin: 0 0 14px 0;
    }

    .hero-logo {
        animation: none;
    }
    
    .hero-container > h2 {
        animation: none;
    }
    
    .slogan {
        animation: none;
    }
    
    .hero-container > .hero-btns {
        animation: none;
    }

}